{<<"links">>,
 [{<<"Changelog">>,
   <<"https://github.com/rocket4ce/boltex_nif/blob/main/CHANGELOG.md">>},
  {<<"GitHub">>,<<"https://github.com/rocket4ce/boltex_nif">>},
  {<<"neo4rs">>,<<"https://github.com/neo4j-labs/neo4rs">>}]}.
{<<"name">>,<<"boltex_nif">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<69,108,105,120,105,114,32,78,73,70,32,98,105,110,100,105,110,103,115,32,
   102,111,114,32,116,104,101,32,110,101,111,52,114,115,32,82,117,115,116,32,
   100,114,105,118,101,114,32,102,111,114,32,78,101,111,52,106,32,226,128,148,
   32,102,117,108,108,32,66,111,108,116,32,118,53,32,112,114,111,116,111,99,
   111,108,44,32,116,114,97,110,115,97,99,116,105,111,110,115,44,32,115,116,
   114,101,97,109,105,110,103,44,32,97,110,100,32,114,101,115,117,108,116,32,
   115,117,109,109,97,114,105,101,115,44,32,119,105,116,104,32,110,111,32,82,
   117,115,116,32,116,111,111,108,99,104,97,105,110,32,114,101,113,117,105,
   114,101,100,32,97,116,32,105,110,115,116,97,108,108,32,116,105,109,101,32,
   40,112,114,101,99,111,109,112,105,108,101,100,32,78,73,70,115,32,118,105,
   97,32,114,117,115,116,108,101,114,95,112,114,101,99,111,109,112,105,108,
   101,100,41,46>>}.
{<<"elixir">>,<<"~> 1.19">>}.
{<<"app">>,<<"boltex_nif">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/boltex_nif">>,<<"lib/boltex_nif/notification.ex">>,
  <<"lib/boltex_nif/duration.ex">>,<<"lib/boltex_nif/native.ex">>,
  <<"lib/boltex_nif/time.ex">>,<<"lib/boltex_nif/unbound_relationship.ex">>,
  <<"lib/boltex_nif/relationship.ex">>,
  <<"lib/boltex_nif/date_time_zone_id.ex">>,<<"lib/boltex_nif/node.ex">>,
  <<"lib/boltex_nif/date_time.ex">>,<<"lib/boltex_nif/path.ex">>,
  <<"lib/boltex_nif/point.ex">>,<<"lib/boltex_nif/summary.ex">>,
  <<"lib/boltex_nif/neo4j_error.ex">>,<<"lib/boltex_nif.ex">>,
  <<"native/boltex_nif/Cargo.toml">>,<<"native/boltex_nif/Cargo.lock">>,
  <<"native/boltex_nif/src">>,<<"native/boltex_nif/src/runtime.rs">>,
  <<"native/boltex_nif/src/stream.rs">>,<<"native/boltex_nif/src/types.rs">>,
  <<"native/boltex_nif/src/graph.rs">>,<<"native/boltex_nif/src/error.rs">>,
  <<"native/boltex_nif/src/lib.rs">>,<<"native/boltex_nif/src/query.rs">>,
  <<"native/boltex_nif/src/atoms.rs">>,<<"native/boltex_nif/src/txn.rs">>,
  <<"native/boltex_nif/src/summary.rs">>,<<"native/boltex_nif/.gitignore">>,
  <<"checksum-Elixir.BoltexNif.Native.exs">>,<<"mix.exs">>,
  <<".formatter.exs">>,<<"README.md">>,<<"CHANGELOG.md">>,<<"LICENSE">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"rustler_precompiled">>},
   {<<"app">>,<<"rustler_precompiled">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.9">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"rustler">>},
   {<<"app">>,<<"rustler">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 0.37">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
